asgiref==3.10.0
boto3==1.43.16
botocore==1.43.16
dj-database-url==3.1.2
Django==5.2.7
django-bootstrap5==25.2
django-storages==1.14.6
gunicorn==26.0.0
jmespath==1.1.0
packaging==26.2
pillow==12.0.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
s3transfer==0.17.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.7.0
whitenoise==6.12.0
